@use "./content.scss";
@import "./theme";

.main-heading {
    font-family: $main-text-font;
    color: $primary-color;
}

.document {
    font-family: $main-text-font;
    ​ &__border {
        &--first-section {
            border: 3px dashed green;
        }
        &--second-section {
            border: $primary-box-border $secondary-color;
        }
    }
    &__second-header--centered {
        text-align: center;
    }
    &__paragraph {
        &--blue {
            color: $primary-color;
        }
        &--line-through {
            text-decoration: line-through;
        }
        &--right-align {
            text-align: right;
        }
    }
}

​ .document2 {
    &__box1--border {
        border: $primary-box-border black;
    }
    &__box-header {
        &--blue {
            color: $primary-color;
        }
        &--font {
            font-family: $main-text-font;
            font-size: 24px;
        }
    }
    &__box-par {
        &--red {
            color: red;
        }
        &--underln {
            text-decoration: underline;
        }
        &--font {
            font-family: $main-text-font;
            font-size: 18px;
        }
        &--coral {
            color: $secondary-color;
        }
        &--bold {
            font-weight: bold;
        }
        &--brown {
            color: brown;
        }
    }
    &__li {
        &--no-bullet {
            list-style-type: none;
            font-size: 12px;
        }
    }
}
