.first-block {
    border: 3px dashed green;
}

.first-block__para--blue {
    color: blue;
    text-decoration: line-through;
}

.second-block {
    border: 2px solid coral;
}

.second-block__header {
    text-align: left;
    text-align: center;
}

.second-block__para--right {
    color: blue;
    text-align: right;
    text-decoration: line-through;
}
