a {
    color: blue;
}

a:visited {
    color: red;
}

a:active {
    color: green;
    background-color: yellow;
}

a:hover {
    color: hotpink;
}

input {
    background-color: lightblue;
    border-radius: 5px;
    margin: 2px;
}

div:nth-of-type(2) > input {
    background-color: white;
}
div:nth-of-type(3) > input {
    border-color: red;
}

div:nth-last-of-type(1) > input:disabled {
    background-color: white;
}
