.btn {
  font-family: Arial, Helvetica, sans-serif;
}

.btn__border {
  border-width: 5px;
  border-style: dashed;
}

.btn__border--blue {
  background-color: blue;
}

.btn__border--red {
  background-color: red;
}
